<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="com.sobolev.spring.RockMusic">
    </bean>

    <bean id="rapBean"
          class="com.sobolev.spring.RapMusic">
    </bean>

    <bean id="classicalBean"
          class="com.sobolev.spring.ClassicalMusic">
    </bean>

    <bean id="musicPlayer"
          class="com.sobolev.spring.MusicPlayer" scope="prototype">
        <property name="music">
            <list>
                <ref bean="musicBean"/>
                <ref bean="classicalBean"/>
                <ref bean="rapBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>